[project]
	description = testing purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/azher khan (azherullahkhan)
[access "refs/for/refs/*"]
	read = group user/azher khan (azherullahkhan)
	push = group user/azher khan (azherullahkhan)
	label-Code-Review = -2..+2 group user/azher khan (azherullahkhan)
	label-Verified = -1..+1 group user/azher khan (azherullahkhan)
	rebase = group user/azher khan (azherullahkhan)
	removeReviewer = group user/azher khan (azherullahkhan)
	submit = group user/azher khan (azherullahkhan)
[access "refs/heads/*"]
	read = group user/azher khan (azherullahkhan)
	create = group user/azher khan (azherullahkhan)
	push = +force group user/azher khan (azherullahkhan)
	pushMerge = group user/azher khan (azherullahkhan)
[access "refs/tags/*"]
	push = +force group user/azher khan (azherullahkhan)
	pushTag = group user/azher khan (azherullahkhan)
	pushSignedTag = group user/azher khan (azherullahkhan)
